<div class="container ">
    <div class="row login-form d-flex justify-content-center align-items-center">
        <div class="col-lg-4 align-self-center">
            <div id="loginAlert">
              
            </div>
            <h2>Login</h2>
            <form id="formLogin">
                <div class="form-group mb-2">
                  <label for="inputUsername">Username</label>
                  <input name="username" type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="(⊃｡•́‿•̀｡)⊃ Username">
                </div>
                <div class="form-group mb-2">
                  <label for="inputPassword">Password</label>
                  <input name="password" type="password" class="form-control" id="inputPassword" placeholder="(っ▀¯▀)つ Password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Connect !</button>
                </div>
              </form>
        </div>
    </div>
</div>